h1{
    text-align: center;

}

.dropright {
    margin-left: auto;
}
body {
    background-color: lightblue;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgreen;
    color: white;
    text-align: center;
 }