h1{
    text-align: center;

}

body {
    background-color: lightsalmon;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightslategray;
    color: white;
    text-align: center;
}
.pict{
    width: 325px;
    height: 310px;
    border-style: dashed;
    border-color: white;
}

.homepage{
    text-align: center;
    font-size: 40px;
}

.container-fluid{
    background-color: lightslategray;
}

.desc{
    text-align: left;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(34, 212, 123, 0.733);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
.logo{
    width: 100px;
    height: 100px;
}

.dreamhome {
    text-align: center;
}

.laststep {
    float: right;
    width: 325px
}

.box {
    border-style: solid;
    border-color: lightslategray;
    text-align: center;
}


