h1{
    text-align: center;

}

body {
    background-color: orangered;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightslategray;
    color: white;
    text-align: center;
}
.pict{
    width: 325px;
    height: 310px;
}

.homepage{
    text-align: center;
    font-size: 40px;
}

.container-fluid{
    background-color: lightslategray;
}

.desc{
    text-align: left;
}

